<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo
       http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- mongo config -->
    <mongo:mongo-client host="192.168.30.172" port="27017" id="mongo">
        <mongo:client-options connections-per-host="4"
                              connect-timeout="1000"
                              socket-keep-alive="true"
                              socket-timeout="1500"
                              max-wait-time="1500"/>
    </mongo:mongo-client>

    <!-- mongo factory -->
    <bean id="mongoDbFactory" class="org.springframework.data.mongodb.core.SimpleMongoDbFactory">
        <constructor-arg name="mongo" ref="mongo"/>
        <constructor-arg name="databaseName" value="ssqian"/>
    </bean>

    <!-- mongoTemplate -->
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>


    <bean name="customMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper"/>

    <mongo:mapping-converter id="converter" type-mapper-ref="customMongoTypeMapper"/>

    <!-- gridFsTemplate -->
    <bean name="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
        <constructor-arg ref="mongoDbFactory"/>
        <constructor-arg ref="converter"/>
    </bean>

</beans>